src/main/mule/jenkins_check.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d5018797-73d6-45fc-b26f-44b75844bf97" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<flow name="jenkins_checkFlow" doc:id="6ec5404f-e2a0-4b30-8a6d-93f41d55d3c8" >
		<http:listener doc:name="Listener" doc:id="abc8aab4-c171-4ce2-9fd1-7fc5d9ec06f4" config-ref="HTTP_Listener_config" path="/jenkins"/>
		<set-payload value='#["Mule Message"]' doc:name="Set Payload" doc:id="c11dea6e-efbb-4b88-b1c6-55aa63e9c28e" />
	</flow>
</mule>
